@import url("uniform.utopia.css");

body {
    color: #000000;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

#header-logo {
    width: 1px;
    height: 1px;
}

.navigation {
    border: 1px solid;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-color: #000000;
}

.navigation a { color: #000000; text-decoration: none; }

#header-navigation div {}
#header-navigation div:hover {}

#account-container {
    font-size: 20px;
}

#account-header .account-image {}
#account-header { color: #edf2fd; }
#account-header:hover { background-color: #494432; }
#account-header.selected { background-color: #494432; }

#account-details
{
    font-size: 12px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    line-height: 16px;
    background-color: #494432;
}

#account-details .account-title
{
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 1px solid #000000;

}

#account-details .alert a {
    color: #ff771c;
}

#account-details .account-summary {
    border-bottom: 1px solid #29261c;
}

#account-details .account-signout
{
    border-top: 1px solid #29261c;
    font-weight: bold;
    text-align: right;

}

#middle {}

a {
    color: #000000;
    text-decoration: none;
}

a.highlighted {
    color: #E68910;
}

a.info-link {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 14px;
}

.report-this {
    color: #c4a112;
    background-color: #18100e;
}

.report-this:hover {
    color: #c4a112;
    background-color: #2a201d;
}

.reported-content {
    border: 2px inset #616161;
    background-color: #000000;
}

.overlay
{
    background-color: #2f2e2e;
    border:1px solid #666;
}

.overlay .close
{
    background-image:url("./images/overlay-close.png");
}

.age-changes,
.lobby-panel,
.campaigns {
    border: 2px solid;
    border-radius: 12px;
    border-color: #555555;
    background: #494432;
}

.lobby-panel h1 {
    font-size: 40px;
    line-height: 40px;
    color: #EBE8CD;
}

.lobby-panel h1 a:hover {
    color: #fff;
}

.divider {
    background-image: url(./images/divider.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.divider-small {
    background-image: url(./images/divider-small.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.lobby-panel table th {
    font-size: 20px;
}

.lobby-panel table td {
    font-size: 14px;
}

.lobby-panel h2 {
    font-size: 24px;
    line-height: 30px;
}

.age-changes h3,
.campaigns h3 {
    font-size: 20px;
    line-height: 24px;
}

.recruitment-campaigns h1,
.race-changes h1,
.trait-changes h1 {
    font-size: 40px;
    line-height: 45px;
}

.race-changes h2,
.trait-changes h2 {
    font-size: 30px;
}

.campaigns .basic-details .campaign-summary h2{
    font-size: 18px;
}

.campaigns .basic-details .campaign-summary .highlight-keyword{
    font-size: 22px;
}

.good {
    color: #90ee90;
}

.bad {
    color: #EC7566;
}

.message {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid;
    font-size: 20px;
}

.good.message
{
    color: #fefff7;
    border-color: #feffea;
    background: #718d16;
}

.bad.message
{
    color: #FFFCF7;
    border-color: #feffea;
    background: #521802;
}

.info.message
{
    color: #FFFCF7;
    border-color: #feffea;
    background: #D09734;
}


/* User profile page
-------------------------------------------------------------- */

.lobby-panel .statement {
    background: url('./images/province_profile/scroll.png') no-repeat;
}

.lobby-panel .statement h2 {
    line-height: 16px;
}

.advice-message {
    color: #a5d387;
}

.warning {
    color: #e55700;
}

.error {
    color: #e55700;
}

#game-navigation .current-date {
    font-size: 14px;
    border: 1px solid;
    border-color: #000000;
}

#game-navigation a {
    line-height: 0.6em;
}

#resource-bar
{
    border: 1px solid;
    font-size: 12px;
    border-color: #000000;
}

#resource-bar thead {
    background: #aaaaaa;
}

#resource-bar tbody th,
#resource-bar tbody td{
    width: 98px;
    padding: 3px 6px 3px 6px;
    font-size: 12px;
}

#resource-bar tbody th {
    font-size: 12px;
}

#resource-bar thead th {
    width: 98px;
}


#resource-bar .positive {
    color: #8FA94A;
}

#resource-bar .negative {
    color: #d0aeae;
}

.game-content form,
.game-content h2 {
    border: 1px solid;
    border-color: #000000;
}

.game-content h3 {
    font-size: 14px;
    color: #000000;
}

.game-content form {
    font-size: 12px;
}

.game-content form.no-visible-fields {
    width: auto;
    background: none;
    border: none;
}

form ul.errorlist {
    color: #e26f80;
}

.game-content form.change-kingdom {
    font-size: 12px;
}

.game-content form.change-kingdom .change-kingdom-heading {
    font-size: 12px;
}

.game-content form.change-kingdom .change-kingdom-form {
    font-size: 12px;
    color: #000000;
}

.game-content form.change-kingdom.change-kingdom-target {
    border: 0px;
    border-color: #000000;
}

input[type=text],
form textarea,
form input[type=text],
form input[type=password] {
    border-width: 1px;
    border-color: #d7d7d7;
    padding-left: 3px;
    font-size: 20px;
    text-align: left;
    color: #fff;
    background: #3a3830;
}

form input[type=text],
form input[type=password] {
    height: 30px;
    font-size: 30px;
}

form .errorlist {
    font-size: 12px;
}

form input[type=submit],
.button-link {
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    font-weight: normal;
    border-color: #7c551a;
    background: #9c7815;
    color: #fff;
}

form input[type=submit]:hover,
.button-link:hover {
    background: #c99a1a;
}

form input[type=submit]:active,
.button-link:active {
    background: #ba8500;
}

div.selector span,
div.uploader span.filename,
div.uploader span.action
{
    padding-left: 5px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}
div.uploader span.filename,
div.uploader span.action
{
    font-size: 18px;
}

.game-content form table {
    border: 0px;
    border-top: 2px solid;
    border-color: #555555;
    margin-bottom: 10px;
    text-align: left;
}

.game-content form table thead th {
    height: 36px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
}

.game-content form tbody th {
    border-left: 1px ridge #000000;
    font-size: 14px;

}

.game-content form tbody th:first-child {
    border-left: none;
}

.game-content form tbody td {
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
}

.game-content form tbody tr {
    border: none;
}

.game-content form tbody tr:nth-child(even) {
    background: #444444;
}


.game-content form.change-kingdom #royal-commands {
    border-top: 2px dotted #000;
}

.game-content form.change-kingdom #royal-commands table {
    border-top: none;
}

.game-content form.change-kingdom #royal-commands table tbody td,
.game-content form.change-kingdom #royal-commands input[type=text] {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}


.game-content form.change-kingdom #royal-commands .button-link {
    font-size: 16px;
    line-height: 20px;
}

.news-legend span.news-aid:before { content: url(./images/kingdom_news/aid_inline.png); }
.news-legend span.news-intra-kingdom-conflict:before { content: url(./images/kingdom_news/intra_kingdom_conflict_inline.png); }
.news-legend span.news-actions-against-our-kingdom:before { content: url(./images/kingdom_news/actions_against_our_kingdom_inline.png); }
.news-legend span.news-actions-by-our-kingdom:before { content: url(./images/kingdom_news/actions_by_our_kingdom_inline.png); }
.news-legend span.news-dragon:before { content: url(./images/kingdom_news/dragon_inline.png); }
.news-legend span.news-obituaries:before { content: url(./images/kingdom_news/obituaries_inline.png); }
.news-legend span.news-relations:before { content: url(./images/kingdom_news/relations_inline.png); }
.news-province-modification:before { content: url(./images/kingdom_news/province_modification_inline.png); }

td.news-aid { background-image: url(./images/kingdom_news/aid.png); }
td.news-intra-kingdom-conflict { background-image: url(./images/kingdom_news/intra_kingdom_conflict.png); }
td.news-actions-against-our-kingdom { background-image: url(./images/kingdom_news/actions_against_our_kingdom.png); }
td.news-actions-by-our-kingdom { background-image: url(./images/kingdom_news/actions_by_our_kingdom.png); }
td.news-dragon { background-image: url(./images/kingdom_news/dragon.png); }
td.news-obituaries { background-image: url(./images/kingdom_news/obituaries.png); }
td.news-relations { background-image: url(./images/kingdom_news/relations.png); }
td.news-province-modification { background-image: url(./images/kingdom_news/province_modification.png); }

/* KINGDOM DETAILS */
.unused-slot { color: #B0B0B0; }
.protected,
.intel-fresh { color: #99ffbb; }
.monarch,
.at-war,
.intel-rotten { color: #F28585; }
.chamberlain,
.intel-stale { color: #FFC583; }
.you { font-weight: bold; }
.slot-number { font-size: 0.8em; color: #B0B0B0; }

.provinces-legend {
    font-size: 0.8em;
}

.provinces-legend .invitations {
    font-size: 18px;
}

.dip-status
{
    color: #000;
}

.dip-status-NORMAL
{
    background-color: #01DF01;
}

.dip-status-UNFRIENDLY
{
    background-color: #FFBF00;
}

.dip-status-HOSTILE
{
    background-color:#FF4000;
    background-image: url(./images/hostile_meter/hostile_gradient.png);
    background-repeat:repeat-y;
}

.dip-status-WAR
{
    background-color: #FF0000;
}

.own-meter-value
{
    background-image: url(./images/hostile_meter/up.png);
}

.their-meter-value
{
    background-image: url(./images/hostile_meter/down.png);
}

.war-button-meter-value
{
    background-image: url(./images/hostile_meter/war.png);
}

#hostility-meter-example {
    background-image: url(./images/hostile_meter/example.png);
}

#id_taunt_top_image {
    color: white;
}

/* Province profile page
-------------------------------------------------------------- */

.province-flag .flagpole {
    background: url('./images/province_profile/flagpole.png') no-repeat;
}

.province-flag .flag-image .default-flag {
    background: url('./images/province_profile/default_flag.png') no-repeat;
}

.motto {
    background: url('./images/province_profile/scroll.png') no-repeat;
}



.game-header
{
    height: 30px;
    background: #cccccc;
}

.game-header h1
{
    height: 22px;
    margin: 0px 1px;
    padding: 6px 4px 1px 4px;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
}

.game-header a h1 {
    background: #cccccc;
}



.game-content {
    border: 1px solid #000000;
}

.game-content h2 {
    border: 0px;
    border: 1px solid;
    border-color: #000000;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
}

.game-content thead th {
    font-weight: normal;
    font-size: 16px;
    background: #3a3830;
}

.game-content tbody th {
    border-left: 1px solid #000000;
    font-size: 16px;
}

.game-content tbody th:first-child {
    border-left: none;
}

.game-content tbody td {
    padding-right: 20px;
}

.game-content tbody tr {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.game-content tbody tr:nth-child(even) {
    background: #cccccc;
}

.game-content tbody tr.sub-total {
    background: none;
}

.game-content tr.sub-total td {
    border-top: 2px solid #B9B9B9;
    padding-bottom: 25px;
}

.game-content table.schedule {
    font-size:0.8em;
}


.two-digit-input {
    width: 50px;
}
.three-digit-input {
    width: 55px;
}

.four-digit-input {
    width: 70px;
}

.five-digit-input {
    width: 85px;
}

.six-digit-input {
    width: 100px;
}

/* GAME PREFERENCES */
.game-content div.preference-box {
    background: rgb(86, 83, 74);
}

.game-content div.preference-box.disabled {
    opacity: 0.5;
}

.game-content table.applicant-view input[type="submit"],
.game-content table.mail-view input[type="submit"],
.game-content table.mail-view .button-link {
    font-size: 14px;
}

table.mail-view td.formatted-text {
    background: rgb(86, 83, 74);
}

div.wysiwyg {
    border: 1px solid #999;
    padding: 5px;
    background: rgb(86, 83, 74);
}

div.wysiwyg ul.toolbar li {
    background: url('./images/jquery.wysiwyg.gif') no-repeat -64px -80px;
    border: 1px outset #83817d;
}

body.wysiwyg {
    color: #fff;
    background: #3a3830; /* Old browsers */
    font-size: 12px;
}

#bookmark-header {
    background-image: url(./images/gold_star.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#bookmark-header:hover,
#bookmark-header.selected
{
    background-color: #494432;
}

#bookmark-details
{
    font-size: 16px;
}

#bookmark-details div
{
    padding-top: 1px;
    padding-bottom: 1px;
}

#bookmark-details a:hover {
    box-shadow: -10px 0px 6px -6px #fff;
}

#bookmark-details #bookmarks {
    border-top: 1px solid #29261c;
    border-bottom: 1px solid #29261c;
}

#royal-command-icon {
    background-image: url(./images/gold_crown.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#royal-command-icon:hover {
    background-color: #494432;
}

.tablesorter th .order-icon {
    background-image: url(./images/order_none.png);
}

.tablesorter th.headerSortUp .order-icon {
    background-image: url(./images/order_asc.png);
}

.tablesorter th.headerSortDown .order-icon {
    background-image: url(./images/order_desc.png);
}

.campaign-meter-level div {
    border: 1px solid #789316;
}

.campaign-meter-level div.full {
    background-color: #789316;
}

.campaign-meter-level div.unknown {
    color: #789316;
}

.fails-criteria div {
    border: 1px solid #CD4331;
}

.fails-criteria div.full {
    background-color: #CD4331;
}

.recruitment-header .rank-bar,
.campaigns .rank-bar {
    background-color: #867721;
}

.recruitment-header .selected-rank,
.campaigns .selected-rank {
    background-color: #E5C40F;
}

.campaigns .campaign-message-intro {
    font-weight: 200;
    color: white;
    font-size: 18px;
}

#uniform-id-orderby {
    background-position: left -38px;
    width: 296px;
}

#uniform-id-orderby span,
#uniform-id-orderby.focus span,
#uniform-id-orderby.hover span,
#uniform-id-orderby:hover span {
    font-size: 30px;
    background-position: right -38px;
}

td#inline-hostility-meter {
    text-align: left;
    text-shadow: none;
    font-weight: normal;
}


